@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: serif;
  font-family: "Comic Sans MS";
}

p, .contact .content a, a {
  font-size: 20px;
  color: black;
  font-family: serif;
  text-decoration: none;
}

header {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  position: relative;
  z-index: 10;
  padding-top: 50px;
  width: 100%;
}
@media screen and (max-width: 761px) {
  header {
    padding-top: 25px;
    position: fixed;
    top: 0;
    gap: 80px;
  }
}
header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: -100;
}
header .header-title .logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
header .header-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
@media screen and (max-width: 761px) {
  header .header-title .logo img {
    width: 60px;
    height: 60px;
  }
}
header .header-title h1 {
  font-size: 90px;
}
@media screen and (max-width: 1024px) {
  header .header-title h1 {
    font-size: 75px;
  }
}
@media screen and (max-width: 761px) {
  header .header-title h1 {
    font-size: 27px;
  }
}
header .header-title h1::after {
  content: "冒険をここから始める";
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  header .header-title h1::after {
    font-size: 28px;
  }
}
@media screen and (max-width: 761px) {
  header .header-title h1::after {
    font-size: 14px;
  }
}
header nav {
  padding: 0 60px 10px 0;
  display: flex;
  flex-direction: column;
}
header nav ul {
  list-style-type: none;
  margin-right: 30px;
}
@media screen and (max-width: 761px) {
  header nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  header nav ul li a {
    font-size: 18px;
  }
}
header nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
header nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 761px) {
  header nav ul li a span {
    left: auto;
  }
}
header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
header nav li {
  padding: 50px 40px;
}
header nav li a {
  font-weight: 90;
  color: #ffffff;
  font-family: serif;
  font-family: "Comic Sans MS";
}
@media screen and (max-width: 761px) {
  header nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(45deg, rgba(78, 169, 255, 0.6), rgba(160, 255, 184, 0.6) 80%);
    right: -200%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
  }
  header nav ul {
    padding: 0;
  }
  header nav ul li {
    padding: 35px 40px;
  }
}
@media screen and (max-width: 761px) and (max-width: 761px) {
  header nav ul li {
    margin-top: 30px;
  }
}
@media screen and (max-width: 761px) {
  header nav ul li a {
    color: #ffffff;
    font-family: serif;
    font-family: "Comic Sans MS";
  }
}
@media screen and (max-width: 761px) and (max-width: 761px) {
  header nav ul li a {
    font-size: 25px;
    color: #000000;
  }
}
header nav.active {
  right: 0;
  padding: 0;
}
header .openbtn {
  /* ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定 */
  position: relative;
  top: 24px;
  right: 6%;
  background: rgba(158, 249, 255, 0);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /* ボタン内側 */
  /* activeクラスが付与されると線が回転して×に */
}
@media screen and (max-width: 761px) {
  header .openbtn {
    display: inline-block;
    z-index: 1000;
  }
}
header .openbtn span {
  display: inline-block;
  transition: all 0.4s; /* アニメーションの設定 */
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #000000;
  width: 45%;
}
header .openbtn span:nth-of-type(1) {
  top: 15px;
}
header .openbtn span:nth-of-type(2) {
  top: 23px;
}
header .openbtn span:nth-of-type(3) {
  top: 31px;
}
header .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn.active span:nth-of-type(2) {
  opacity: 0; /* 真ん中の線は透過 */
}
header .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.fixed-header {
  background-image: url(../img/header_back.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  height: 15vh;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  transition: top 0.8s ease;
}
.fixed-header.active {
  top: 0;
}
@media screen and (max-width: 761px) {
  .fixed-header {
    display: none;
  }
}
.fixed-header .fixed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1024px) {
  .fixed-header .fixed-title .fixed-logo img {
    width: 80px;
    height: 80px;
  }
}
.fixed-header .fixed-title h1 {
  font-size: 35px;
}
.fixed-header nav ul {
  list-style-type: none;
  margin-right: 30px;
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
.fixed-header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul li a {
    font-size: 18px;
  }
}
.fixed-header nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
.fixed-header nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul li a span {
    left: auto;
  }
}
.fixed-header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
.fixed-header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
.fixed-header nav ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
}
.fixed-header nav ul li a {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul li a {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .fixed-header nav ul {
    gap: 20px;
  }
}

.main_hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -10;
  top: 0;
  /* Scrollテキストの描写 */
  /* 下からの距離が変化して丸の全体が上から下に動く */
  /* 上から下にかけて丸が透過→不透明→透過する */
}
@media screen and (max-width: 761px) {
  .main_hero {
    height: 100vh;
  }
}
.main_hero::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -60px 40px rgb(255, 255, 255);
}
@media screen and (max-width: 1024px) {
  .main_hero::after {
    box-shadow: inset 0 -100px 40px rgb(255, 255, 255);
  }
}
@media screen and (max-width: 761px) {
  .main_hero::after {
    box-shadow: inset 0 -210px 40px rgb(255, 255, 255);
  }
}
.main_hero img {
  height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40%;
     object-position: 40%;
  display: block;
  transition: transform 2s ease, opacity 2s ease;
  z-index: -10;
}
@media screen and (max-width: 761px) {
  .main_hero img {
    height: 80vh;
  }
}
.main_hero .scrolldown2 {
  position: relative;
  /* 丸の描写 */
  /* 線の描写 */
}
.main_hero .scrolldown2 span {
  z-index: 100;
  /* 描画位置 */
  position: absolute;
  left: 50%;
  bottom: -20px;
  /* テキストの形状 */
  color: #000000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /* 縦書き設定 */
  writing-mode: vertical-rl;
}
.main_hero .scrolldown2:before {
  content: "";
  z-index: 100;
  /* 描画位置 */
  position: absolute;
  bottom: 120px;
  left: 48%;
  /* 丸の形状 */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000000;
  /* 丸の動き1.6秒かけて透過し、永遠にループ */
  animation: circlemove 1.6s ease-in-out infinite, circlemovehide 1.6s ease-out infinite;
}
.main_hero .scrolldown2:after {
  content: "";
  z-index: 100;
  /* 描画位置 */
  position: absolute;
  bottom: -30px;
  left: 48.25%;
  /* 線の形状 */
  width: 2px;
  height: 80px;
  background: #000000;
}
@media screen and (max-width: 761px) {
  .main_hero .scrolldown2:after {
    left: 48.75%;
  }
}
@keyframes circlemove {
  0% {
    bottom: 40px;
  }
  100% {
    bottom: -30px;
  }
}
@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

main {
  margin-top: 300px;
}
@media screen and (max-width: 1024px) {
  main {
    margin-top: 0;
  }
}
main .phrasebox {
  text-align: center;
  line-height: 60px;
  padding: 50px 0 80px 0;
}
main .phrasebox .catchphrase {
  font-size: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 761px) {
  main .phrasebox .catchphrase {
    font-size: 25px;
  }
}
main .phrasebox .explanation {
  margin-bottom: 30px;
}
@media screen and (max-width: 761px) {
  main .phrasebox .explanation {
    font-size: 13px;
    width: 65vw;
    margin: 30px auto;
  }
}
main .phrasebox .btn1 {
  /* アニメーションの起点とするためrelativeを指定 */
  position: relative;
  overflow: hidden;
  /* ボタンの形状 */
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555; /* ボーダーの色と太さ */
  border-radius: 30px;
  padding: 5px 60px;
  text-align: center;
  outline: none;
  /* アニメーションの指定 */
  transition: ease 0.2s;
  /* 背景が流れる（上から下） */
}
@media screen and (max-width: 761px) {
  main .phrasebox .btn1 {
    padding: 10px 30px;
  }
}
main .phrasebox .btn1 span {
  position: relative;
  z-index: 3; /* z-indexの数値をあげて文字を背景よりも手前に表示 */
  color: #333;
}
@media screen and (max-width: 761px) {
  main .phrasebox .btn1 span {
    font-size: 15px;
  }
}
main .phrasebox .btn1:hover span {
  color: #fff;
}
main .phrasebox .btn1:hover.bgtop:before {
  height: 100%;
  background-color: #333;
}
main .phrasebox .btn1.bgtop:before {
  content: "";
  /* 絶対配置で位置を指定 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* 色や形状 */
  background: #333; /* 背景色 */
  width: 100%;
  height: 0;
  /* アニメーション */
  transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}
@media screen and (max-width: 1024px) {
  main .phrasebox {
    margin-top: 650px;
  }
}
@media screen and (max-width: 761px) {
  main .phrasebox {
    margin-top: 750px;
    line-height: 30px;
  }
}
main .sub_hero {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 80px;
}
main .sub_hero div .sub1 {
  width: 320px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media screen and (max-width: 1024px) {
  main .sub_hero div .sub1 {
    width: 250px;
    height: 380px;
  }
}
@media screen and (max-width: 761px) {
  main .sub_hero div .sub1 {
    width: 130px;
    height: 200px;
  }
}
main .sub_hero div .sub2 {
  width: 950px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  main .sub_hero div .sub2 {
    width: 650px;
    height: 380px;
  }
}
@media screen and (max-width: 761px) {
  main .sub_hero div .sub2 {
    width: 250px;
    height: 200px;
  }
}
@media screen and (max-width: 1024px) {
  main .sub_hero {
    gap: 20px;
  }
}

.merit {
  text-align: center;
  padding-top: 150px;
  max-width: 100%;
}
.merit h2 {
  font-size: 50px;
  margin-bottom: 80px;
}
@media screen and (max-width: 761px) {
  .merit h2 {
    font-size: 25px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .merit {
    padding-top: 120px;
  }
}
@media screen and (max-width: 761px) {
  .merit {
    padding-top: 90px;
  }
}
.merit div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-left: 0;
}
@media screen and (max-width: 761px) {
  .merit div {
    flex-direction: column;
  }
}
.merit div p, .merit div .contact .content a, .contact .content .merit div a {
  height: 300px;
  font-size: 27px;
}
.merit div p img, .merit div .contact .content a img, .contact .content .merit div a img {
  margin-top: 120px;
  width: 400px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .merit div p img, .merit div .contact .content a img, .contact .content .merit div a img {
    width: 200px;
  }
}
@media screen and (max-width: 761px) {
  .merit div p img, .merit div .contact .content a img, .contact .content .merit div a img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .merit div p, .merit div .contact .content a, .contact .content .merit div a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .merit div {
    gap: 45px;
  }
}
@media screen and (max-width: 761px) {
  .merit div {
    gap: 20px;
  }
}

.news {
  padding-top: 230px;
  text-align: center;
}
.news h2 {
  font-size: 50px;
  margin-bottom: 80px;
}
@media screen and (max-width: 761px) {
  .news h2 {
    font-size: 25px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .news {
    padding-top: 150px;
  }
}
@media screen and (max-width: 761px) {
  .news {
    padding-top: 50px;
  }
}
.news div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news div .first_row {
  border-top: 1px solid #ccc;
}
.news div dl {
  width: 90vw;
  text-align: left;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 761px) {
  .news div dl {
    font-size: 13px;
    gap: 10px;
    align-items: center;
    justify-content: left;
  }
}
@media screen and (max-width: 761px) {
  .news div dl dt {
    line-height: 30px;
  }
}
.news div dl dt br {
  display: none;
}
@media screen and (max-width: 761px) {
  .news div dl dt br {
    display: block;
  }
}
.news div dl dt span {
  padding: 10px 25px;
  margin-left: 20px;
  background-color: #00C09B;
}
@media screen and (max-width: 761px) {
  .news div dl dt span {
    margin: 0;
    padding: 7px 10px;
  }
}
.news div dl a {
  text-decoration: none;
  transition: color 0.5s ease;
}
@media screen and (max-width: 761px) {
  .news div dl a {
    font-size: 13px;
  }
}
.news div dl a:hover {
  color: #9a9a9a;
}

.photo {
  padding-top: 100px;
  margin: 0 40px;
}
.photo h2 {
  font-size: 50px;
  margin-bottom: 80px;
}
@media screen and (max-width: 761px) {
  .photo h2 {
    font-size: 25px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 761px) {
  .photo {
    padding-top: 20px;
  }
}
.photo .zoom-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 761px) {
  .photo .zoom-contents {
    flex-direction: column;
    gap: 15px;
  }
}
.photo .zoom-contents .banner, .photo .zoom-contents .banner3, .photo .zoom-contents .banner2 {
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 280px;
}
@media screen and (max-width: 761px) {
  .photo .zoom-contents .banner, .photo .zoom-contents .banner3, .photo .zoom-contents .banner2 {
    width: 350px;
    height: 250px;
  }
}
.photo .zoom-contents .banner:after, .photo .zoom-contents .banner3:after, .photo .zoom-contents .banner2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/photo1.jpg") no-repeat center center;
  background-size: cover;
  transition: transform 0.8s ease;
}
.photo .zoom-contents .banner:hover:after, .photo .zoom-contents .banner3:hover:after, .photo .zoom-contents .banner2:hover:after {
  transform: scale(1.1);
}
.photo .zoom-contents .banner2:after {
  background: url("../img/photo2.jpg") no-repeat center center;
  background-size: cover;
}
.photo .zoom-contents .banner3:after {
  background: url("../img/photo3.jpg") no-repeat center center;
  background-size: cover;
}

.contact {
  margin-top: 100px;
  text-align: center;
  height: 50vh;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .contact {
    height: 30vh;
  }
}
@media screen and (max-width: 761px) {
  .contact {
    margin-top: 50px;
    height: 20vh;
  }
}
.contact img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
@media screen and (max-width: 1024px) {
  .contact img {
    height: 30vh;
  }
}
@media screen and (max-width: 761px) {
  .contact img {
    height: 20vh;
  }
}
.contact .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}
.contact .content p, .contact .content a {
  font-size: 25px;
  color: #fff;
  margin: 40px 0;
}
@media screen and (max-width: 1024px) {
  .contact .content p, .contact .content a {
    font-size: 22px;
  }
}
@media screen and (max-width: 761px) {
  .contact .content p, .contact .content a {
    font-size: 13px;
    margin: 20px 0;
  }
}
.contact .content a {
  padding: 20px 80px;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: background-color 0.4s ease;
}
@media screen and (max-width: 761px) {
  .contact .content a {
    padding: 10px 40px;
  }
}
.contact .content a:hover {
  background-color: #00C09B;
}

footer {
  padding-top: 50px;
  background-image: url(../img/footer_back.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
footer .pagetop {
  border-radius: 80%;
  background-color: rgba(58, 227, 194, 0.5);
  width: 70px;
  height: 70px;
  position: fixed;
  top: 73%;
  right: 3%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
footer .scroll {
  opacity: 0;
  transition: all 0.5s ease;
}
footer .scroll:hover {
  transform: scale(1.1);
  background-color: #00C09B;
}
footer .scroll:active {
  transform: translateY(20px);
}
footer .scroll.visible {
  opacity: 1;
}
footer .scroll .go-top {
  font-size: 35px;
  color: black;
  padding-left: 24px;
  line-height: 70px;
}
footer .footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-title .logo {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0);
}
footer .footer-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 761px) {
  footer .footer-title .logo img {
    width: 40px;
    height: 40px;
  }
}
footer .footer-title h1 {
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 761px) {
  footer .footer-title h1 {
    font-size: 27px;
  }
}
footer .footer-title h1::after {
  content: "冒険をここから始める";
  font-size: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 761px) {
  footer .footer-title h1::after {
    font-size: 13px;
  }
}
footer nav ul {
  list-style-type: none;
  margin-right: 30px;
}
@media screen and (max-width: 761px) {
  footer nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
footer nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  footer nav ul li a {
    font-size: 18px;
  }
}
footer nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
footer nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 761px) {
  footer nav ul li a span {
    left: auto;
  }
}
footer nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
footer nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
@media screen and (max-width: 761px) {
  footer nav {
    margin-left: 0;
    margin-top: 30px;
  }
}
footer nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 130px;
  padding-bottom: 30px;
}
@media screen and (max-width: 761px) {
  footer nav ul {
    gap: 61px;
  }
}
footer nav ul li a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
@media screen and (max-width: 761px) {
  footer nav ul li a {
    font-size: 10px;
  }
}
footer .copyright {
  text-align: center;
  padding: 20px 0;
  font-family: "Comic Sans MS";
}
@media screen and (max-width: 761px) {
  footer .copyright {
    font-size: 7px;
  }
}/*# sourceMappingURL=index.css.map */