@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

h2, h3 {
  font-family: serif;
}

p, main .contact .content a, a {
  font-size: 17px;
  color: black;
  font-family: serif;
  text-decoration: none;
  line-height: 60px;
  max-width: 100%;
}
@media screen and (max-width: 761px) {
  p, main .contact .content a, a {
    font-size: 11px;
    line-height: 25px;
  }
}

header {
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
  z-index: 10;
  padding-top: 50px;
  width: 100%;
}
@media screen and (max-width: 1130px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 25px;
    position: fixed;
    top: 0;
    gap: 80px;
  }
}
header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: -100;
}
header .header-title .logo {
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0);
}
header .header-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
@media screen and (max-width: 1130px) {
  header .header-title .logo img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 761px) {
  header .header-title .logo img {
    width: 60px;
    height: 60px;
  }
}
header .header-title h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1130px) {
  header .header-title h1 {
    font-size: 37px;
  }
}
@media screen and (max-width: 761px) {
  header .header-title h1 {
    font-size: 25px;
  }
}
header .header-title h1::after {
  content: "冒険をここから始める";
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: serif;
}
@media screen and (max-width: 1130px) {
  header .header-title h1::after {
    font-size: 18px;
  }
}
@media screen and (max-width: 761px) {
  header .header-title h1::after {
    font-size: 15px;
  }
}
header nav {
  padding: 0 60px 10px 0;
  display: flex;
  flex-direction: column;
}
header nav ul {
  list-style-type: none;
}
@media screen and (max-width: 1130px) {
  header nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  header nav ul li a {
    font-size: 18px;
  }
}
header nav ul li a span {
  font-family: serif;
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
header nav ul li a span:nth-child(2) {
  font-family: serif;
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 1130px) {
  header nav ul li a span {
    left: auto;
  }
}
header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
header nav li {
  padding: 50px 40px;
}
header nav li a {
  font-weight: 90;
  color: #ffffff;
  font-family: serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 1130px) {
  header nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(45deg, rgba(78, 169, 255, 0.6), rgba(160, 255, 184, 0.6) 80%);
    right: -200%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
  }
  header nav ul {
    padding: 0;
  }
  header nav ul li {
    padding: 35px 40px;
  }
}
@media screen and (max-width: 1130px) and (max-width: 1130px) {
  header nav ul li {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1130px) {
  header nav ul li a {
    color: #ffffff;
    font-family: serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
@media screen and (max-width: 1130px) and (max-width: 1130px) {
  header nav ul li a {
    font-size: 25px;
    color: #000000;
  }
}
header nav.active {
  right: 0;
  padding: 0;
}
header .openbtn {
  /* ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定 */
  position: relative;
  top: 24px;
  right: 6%;
  background: rgba(158, 249, 255, 0);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /* ボタン内側 */
  /* activeクラスが付与されると線が回転して×に */
}
@media screen and (max-width: 1130px) {
  header .openbtn {
    display: inline-block;
    z-index: 1000;
  }
}
header .openbtn span {
  display: inline-block;
  transition: all 0.4s; /* アニメーションの設定 */
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #000000;
  width: 45%;
}
header .openbtn span:nth-of-type(1) {
  top: 15px;
}
header .openbtn span:nth-of-type(2) {
  top: 23px;
}
header .openbtn span:nth-of-type(3) {
  top: 31px;
}
header .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn.active span:nth-of-type(2) {
  opacity: 0; /* 真ん中の線は透過 */
}
header .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.fixed-header {
  background-image: url(../img/header_back.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22vh;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  transition: top 0.8s ease;
}
.fixed-header.active {
  top: 0;
}
@media screen and (max-width: 1130px) {
  .fixed-header {
    display: none;
  }
}
.fixed-header .fixed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1130px) {
  .fixed-header .fixed-title .fixed-logo img {
    width: 80px;
    height: 80px;
  }
}
.fixed-header .fixed-title h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1130px) {
  .fixed-header .fixed-title h1 {
    font-size: 37px;
  }
}
@media screen and (max-width: 761px) {
  .fixed-header .fixed-title h1 {
    font-size: 25px;
  }
}
.fixed-header .fixed-title h1::after {
  content: "冒険をここから始める";
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: serif;
}
@media screen and (max-width: 1130px) {
  .fixed-header .fixed-title h1::after {
    font-size: 18px;
  }
}
@media screen and (max-width: 761px) {
  .fixed-header .fixed-title h1::after {
    font-size: 15px;
  }
}
.fixed-header nav ul {
  list-style-type: none;
}
@media screen and (max-width: 1130px) {
  .fixed-header nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
.fixed-header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul li a {
    font-size: 18px;
  }
}
.fixed-header nav ul li a span {
  font-family: serif;
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
.fixed-header nav ul li a span:nth-child(2) {
  font-family: serif;
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 1130px) {
  .fixed-header nav ul li a span {
    left: auto;
  }
}
.fixed-header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
.fixed-header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
.fixed-header nav ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
}
.fixed-header nav ul li a {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 761px) {
  .fixed-header nav ul li a {
    font-size: 10px;
  }
}
@media screen and (max-width: 1130px) {
  .fixed-header nav ul {
    gap: 20px;
  }
}

main {
  margin-top: 210px;
  text-align: center;
}
main h2 {
  font-size: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 761px) {
  main h2 {
    font-size: 27px;
    margin-bottom: 60px;
  }
}
main h2::after {
  content: "ニュース記事";
  font-size: 17px;
  margin-top: 10px;
}
@media screen and (max-width: 761px) {
  main {
    margin-top: 170px;
  }
}
main section {
  text-align: center;
}
main section h2 {
  font-size: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 761px) {
  main section h2 {
    font-size: 27px;
    margin-bottom: 60px;
  }
}
main section h2::after {
  content: "ニュース記事";
  font-size: 17px;
  margin-top: 10px;
}
main section .notice-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section .notice-box .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section .notice-box .row .notice-title {
  width: 100%;
  padding-left: 60px;
}
@media screen and (max-width: 761px) {
  main section .notice-box .row .notice-title {
    padding-left: 24px;
  }
}
main section .notice-box .row .notice-title dt, main section .notice-box .row .notice-title h3 {
  font-size: 20px;
}
@media screen and (max-width: 761px) {
  main section .notice-box .row .notice-title dt, main section .notice-box .row .notice-title h3 {
    font-size: 16px;
  }
}
main section .notice-box .row .notice-title dt span, main section .notice-box .row .notice-title h3 span {
  padding: 10px 25px;
  margin-left: 20px;
  background-color: #00C09B;
}
main section .notice-box .row .notice-title h3 {
  margin-top: 10px;
}
main section .notice-box dl {
  width: 100vw;
  text-align: left;
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 1130px) {
  main section .notice-box dl {
    padding: 0 0 30px 0;
  }
}
@media screen and (max-width: 761px) {
  main section .notice-box dl {
    padding: 0;
  }
}
main section .notice-box dl .column {
  width: 70%;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1130px) {
  main section .notice-box dl .column {
    width: 80%;
  }
}
@media screen and (max-width: 761px) {
  main section .notice-box dl .column {
    width: 90%;
  }
}
main section .notice-box dl .column div {
  gap: 40px;
  width: 100%;
  max-width: 100%;
  height: 75svh;
}
@media screen and (max-width: 1130px) {
  main section .notice-box dl .column div {
    height: 42svh;
  }
}
@media screen and (max-width: 761px) {
  main section .notice-box dl .column div {
    height: 35svh;
  }
}
@media screen and (max-width: 761px) {
  main section .notice-box dl .column div {
    gap: 20px;
  }
}
main section .notice-box dl .column div img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
}
main section .notice-box dl .column .img3 {
  max-width: 100%;
  height: 50svh;
}
@media screen and (max-width: 1130px) {
  main section .notice-box dl .column .img3 {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1130px) {
  main section .notice-box dl .column .img3 {
    height: 39svh;
  }
}
@media screen and (max-width: 761px) {
  main section .notice-box dl .column .img3 {
    height: 20svh;
  }
}
main section .notice-box dl .column .img3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
main section .notice-box dl .column p, main section .notice-box dl .column .contact .content a, main .contact .content section .notice-box dl .column a {
  margin: 40px 0 40px 0;
  font-family: serif;
}
main .btn1 {
  /* アニメーションの起点とするためrelativeを指定 */
  position: relative;
  overflow: hidden;
  /* ボタンの形状 */
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555; /* ボーダーの色と太さ */
  border-radius: 30px;
  padding: 5px 60px;
  text-align: center;
  outline: none;
  /* アニメーションの指定 */
  transition: ease 0.2s;
  /* 背景が流れる（上から下） */
}
main .btn1 span {
  position: relative;
  z-index: 3; /* z-indexの数値をあげて文字を背景よりも手前に表示 */
  color: #333;
}
main .btn1:hover span {
  color: #fff;
}
main .btn1:hover.bgtop:before {
  height: 100%;
  background-color: #333;
}
main .btn1.bgtop:before {
  content: "";
  /* 絶対配置で位置を指定 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* 色や形状 */
  background: #333; /* 背景色 */
  width: 100%;
  height: 0;
  /* アニメーション */
  transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}
main .contact {
  margin-top: 100px;
  text-align: center;
  height: 50vh;
  position: relative;
}
@media screen and (max-width: 1130px) {
  main .contact {
    height: 30vh;
  }
}
@media screen and (max-width: 761px) {
  main .contact {
    margin-top: 50px;
    height: 20vh;
  }
}
main .contact img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
@media screen and (max-width: 1130px) {
  main .contact img {
    height: 30vh;
  }
}
@media screen and (max-width: 761px) {
  main .contact img {
    height: 20vh;
  }
}
main .contact .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}
main .contact .content p, main .contact .content a {
  font-size: 25px;
  color: #fff;
  margin: 40px 0;
  line-height: 60px;
}
@media screen and (max-width: 1130px) {
  main .contact .content p, main .contact .content a {
    font-size: 22px;
  }
}
@media screen and (max-width: 761px) {
  main .contact .content p, main .contact .content a {
    font-size: 13px;
    margin: 20px 0;
    line-height: 20px;
  }
}
main .contact .content a {
  padding: 20px 80px;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: background-color 0.4s ease;
}
@media screen and (max-width: 761px) {
  main .contact .content a {
    padding: 10px 40px;
  }
}
main .contact .content a:hover {
  background-color: #00C09B;
}

footer {
  padding-top: 50px;
  background-image: url(../img/footer_back.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
footer .pagetop, footer .translate {
  border-radius: 80%;
  background-color: rgba(58, 227, 194, 0.5);
  width: 70px;
  height: 70px;
  position: fixed;
  top: 73%;
  right: 3%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
footer .translate {
  font-size: 10px;
  background-color: rgba(158, 249, 255, 0);
  top: 85%;
  right: 1%;
  width: 90px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
footer .scroll {
  opacity: 0;
  transition: all 0.5s ease;
}
footer .scroll:hover {
  transform: scale(1.1);
  background-color: #00C09B;
}
footer .scroll:active {
  transform: translateY(20px);
}
footer .scroll.visible {
  opacity: 1;
}
footer .scroll .go-top {
  font-size: 35px;
  color: black;
  padding-left: 24px;
  line-height: 70px;
}
footer .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
footer .column .footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .column .footer-title .logo {
  background-color: rgba(255, 255, 255, 0);
}
footer .column .footer-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1130px) {
  footer .column .footer-title .logo img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 1010px) {
  footer .column .footer-title .logo img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 761px) {
  footer .column .footer-title .logo img {
    width: 40px;
    height: 40px;
  }
}
footer .column .footer-title h1 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 761px) {
  footer .column .footer-title h1 {
    font-size: 27px;
  }
}
footer .column .footer-title h1::after {
  content: "冒険をここから始める";
  font-size: 20px;
  font-family: serif;
}
@media screen and (max-width: 761px) {
  footer .column .footer-title h1::after {
    font-size: 13px;
  }
}
footer .column nav ul {
  list-style-type: none;
}
@media screen and (max-width: 1130px) {
  footer .column nav ul {
    margin-right: 5px;
    margin: auto;
  }
}
footer .column nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 761px) {
  footer .column nav ul li a {
    font-size: 18px;
  }
}
footer .column nav ul li a span {
  font-family: serif;
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
footer .column nav ul li a span:nth-child(2) {
  font-family: serif;
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
@media screen and (max-width: 1130px) {
  footer .column nav ul li a span {
    left: auto;
  }
}
footer .column nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
footer .column nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
@media screen and (max-width: 1010px) {
  footer .column nav {
    padding: 0 40px 30px 0;
  }
}
@media screen and (max-width: 761px) {
  footer .column nav {
    padding: 0;
  }
}
footer .column nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 130px;
}
@media screen and (max-width: 761px) {
  footer .column nav ul {
    position: relative;
    gap: 61px;
    padding: 0;
  }
}
footer .column nav ul li a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 761px) {
  footer .column nav ul li a {
    font-size: 10px;
  }
}
footer .column .copyright {
  text-align: center;
  padding: 20px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 761px) {
  footer .column .copyright {
    font-size: 7px;
  }
}/*# sourceMappingURL=news_box.css.map */