@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: serif;
}

p, .contact .content a, a {
  font-size: 20px;
  color: black;
  font-family: serif;
  text-decoration: none;
  line-height: 60px;
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;
  align-items: start;
}
header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
header .header-title .logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
header .header-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
}
header .header-title h1 {
  font-size: 90px;
}
header .header-title h1::after {
  content: "冒険をここから始める";
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: serif;
}
header nav {
  padding: 0 60px 20px 0;
  display: flex;
  flex-direction: column;
}
header nav ul {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
header nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
header nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
header nav li {
  padding: 50px 40px;
}
header nav li a {
  font-weight: 900;
  color: #ffffff;
  font-family: serif;
  font-family: "Comic Sans MS";
}

.fixed-header {
  background-image: url(../img/header_back.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  transition: top 0.8s ease;
}
.fixed-header.active {
  top: 0;
}
.fixed-header .fixed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
.fixed-header .fixed-title .fixed-logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.fixed-header .fixed-title h1 {
  font-family: "Comic Sans MS";
}
.fixed-header nav ul {
  list-style-type: none;
}
.fixed-header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.fixed-header nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
.fixed-header nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
.fixed-header nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
.fixed-header nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
.fixed-header nav ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
}
.fixed-header nav ul li a {
  color: #000000;
  font-size: 18px;
}

main {
  margin-top: 210px;
  text-align: center;
}
main h2 {
  font-size: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
main h2::after {
  content: "学校";
  font-size: 20px;
}
main section .slide-hero {
  /*矢印の設定*/
  /*戻る、次へ矢印の位置*/
  /*ドットナビゲーションの設定*/
}
main section .slide-hero .slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 40px auto;
}
main section .slide-hero .slider img {
  width: 60vw; /*スライダー内の画像を60vwにしてレスポンシブ化*/
  height: 60vh;
}
main section .slide-hero .slider .slick-slide {
  transform: scale(0.8); /*左右の画像のサイズを80%に*/
  transition: all 0.5s; /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5; /*透過50%*/
}
main section .slide-hero .slider .slick-slide.slick-center {
  transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1; /*透過なし*/
}
main section .slide-hero .slick-prev,
main section .slide-hero .slick-next {
  position: absolute; /*絶対配置にする*/
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666; /*矢印の色*/
  border-right: 2px solid #666; /*矢印の色*/
  height: 15px;
  width: 15px;
}
main section .slide-hero .slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}
main section .slide-hero .slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}
main section .slide-hero .slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
main section .slide-hero .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
main section .slide-hero .slick-dots li button {
  color: transparent;
  outline: none;
  width: 5px; /*ドットボタンのサイズ*/
  height: 12px; /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc; /*ドットボタンの色*/
}
main section .slide-hero .slick-dots li.slick-active button {
  background: #333; /*ドットボタンの現在地表示の色*/
}
main section .row-left, main section .row-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
main section .row-left div, main section .row-right div {
  max-width: 100%;
  height: 100%;
  box-shadow: 30px 30px 2px #a5fffd;
}
main section .row-left div img, main section .row-right div img {
  width: 18vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .row-right {
  margin-top: 80px;
}
main section .row-right div {
  max-width: 100%;
  height: 100%;
}
main section .row-right div img {
  width: 18vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .row-right p span, main section .row-right .contact .content a span, .contact .content main section .row-right a span {
  background: linear-gradient(to top, #00C09B 10%, #ffffff 50%);
}
main section .schedule {
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
}
main section .schedule p, main section .schedule .contact .content a, .contact .content main section .schedule a {
  font-family: serif;
  text-align: left;
  width: 45%;
  letter-spacing: 0.3em;
  line-height: 45px;
}
main section .schedule p span, main section .schedule .contact .content a span, .contact .content main section .schedule a span {
  font-size: 20px;
}
main section .schedule div {
  max-width: 100%;
  position: relative;
}
main section .schedule div img {
  width: 88%;
  height: 50vh;
}
main section .schedule div img:nth-child(2) {
  width: 78%;
  height: 40vh;
  position: absolute;
  top: 400px;
  left: 60%;
}

.contact {
  margin-top: 100px;
  text-align: center;
  height: 50vh;
  position: relative;
}
.contact img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
.contact .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}
.contact .content p, .contact .content a {
  font-size: 25px;
  color: #fff;
  margin: 40px 0;
}
.contact .content a {
  padding: 20px 80px;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: background-color 0.4s ease;
}
.contact .content a:hover {
  background-color: #00C09B;
}

footer {
  padding-top: 50px;
  background-image: url(../img/footer_back.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
footer .pagetop {
  border-radius: 80%;
  background-color: rgba(58, 227, 194, 0.5);
  width: 70px;
  height: 70px;
  position: fixed;
  top: 73%;
  right: 3%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
footer .scroll {
  opacity: 0;
  transition: all 0.5s ease;
}
footer .scroll:hover {
  transform: scale(1.1);
  background-color: #00C09B;
}
footer .scroll:active {
  transform: translateY(20px);
}
footer .scroll.visible {
  opacity: 1;
}
footer .scroll .go-top {
  font-size: 35px;
  color: black;
  padding-left: 24px;
  line-height: 70px;
}
footer .footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-title .logo {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}
footer .footer-title .logo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
footer .footer-title h1 {
  font-size: 30px;
}
footer .footer-title h1::after {
  content: "冒険をここから始める";
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li a {
  text-decoration: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
footer nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}
footer nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}
footer nav ul li a:hover span:nth-child(1) {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}
footer nav ul li a:hover span:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
footer nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 130px;
  padding-bottom: 30px;
}
footer nav ul li a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
footer .copyright {
  text-align: center;
  padding: 20px 0;
  font-family: "Comic Sans MS";
}/*# sourceMappingURL=school.css.map */